<div class="center">
  <h1>Jobs are out there. Apply for them.</h1>
  <p>The community has lots of open web development roles. Use this site to track the ones you've applied for, who you should be following up with, and how often you're following up.</p>
</div>
